.post-form-container
  .post-form-header Add your category
  = form_for @category, :url => {:controller => 'categories', |
    :action => 'create_my_category'} do |p|                   |
    .post-form-entry
      = p.text_area :title, size: "63x1", placeholder: "Title category"
    .post-form-entry
      = p.text_area :text, size: "63x1", placeholder: "Text category"
    .post-form-footer
      = p.submit "Category", class: "btn btn-primary btn-sm"
