.mix.col-md-4.col-sm-6.col-xs-12
  .post-box
    = image_tag(image.image.thumb_all.url, alt: 'Image') if image.image?
    .categor_item_cont
      %h4= link_to "View", category_image_path(@category, image)

-#= link_to "#{t(:destroy_image)}", image_path(image),
-#        method: :delete,
-#        data: { confirm: "#{t(:are_you_sure)}" }
-#%p= truncate(image.body, length: 150)

-#%p= link_to 'Edit', edit_image_path(image)
